{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Congratulations!</h2>
<p>
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started with the API:
</p>
<ul>
    <li><a href="/api/">Browse the API</a></li>
    <li><a href="/api/docs/">View the API Endpoint Documentation</a></li>
    <li><a href="http://gcushen.github.io/mezzanine-api/">View the API Documentation</a></li>
    <li><a href="/admin/">Login to the admin panel</a></li>
    <li><a href="http://gcushen.github.io/mezzanine-api/client/">Create an API Client App or try the Remote CLI</a></li>
    <li><a href="/api/oauth2/applications/register/">Register your App with OAuth</a></li>
</ul>
<p>
    Also, here are some general Mezzanine resources:
</p>
<ul>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>
{% endblocktrans %}
{% endblock %}